- name: disable default nodejs
  ansible.builtin.command: dnf module disable nodejs -y

- name: enable nodejs 20
  ansible.builtin.command: dnf module enable nodejs:20 -y

- name: upgrade openssl packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: latest
  loop:
    - openssl
    - openssl-libs
    - openssh
    - openssh-server
    - openssh-clients  

- name: install nodejs
  ansible.builtin.dnf: #only works for Redhat family
    name: "{{ item }}"
    state: latest
  loop:
  - nodejs
  - mysql

- name: create expense user
  ansible.builtin.user:
    name: expense

- name: run app pre-requisites
  tags:
  - deployment
  ansible.builtin.import_role:
    name: common
    tasks_from: app-pre-req

# - name: install dependencies
#   tags:
#   - deployment
#   ansible.builtin.command: npm install
#   args:
#     chdir: /app

- name: copy backend service #copy only works for files without variables
  ansible.builtin.template:
    src: backend.service.j2
    dest: /etc/systemd/system/backend.service

- name: daemon reload
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Enable backend service
  ansible.builtin.service:
    name: backend
    enabled: yes

- name: ansible to install python mysql dependencies
  ansible.builtin.pip:
    name:
    - PyMySQL # to connect MySQL DB from Ansible
    - cryptography
    executable: pip3.9

- name: import data into mysql
  community.mysql.mysql_db:
    login_user: "{{ login_user }}"
    login_password: "{{ login_password }}"
    login_host: "{{ login_host }}"
    target: /app/schema/backend.sql
    name: all
    state: import

- name: start backend service
  tags:
  - deployment
  ansible.builtin.service:
    state: restarted
    name: backend